/* ==========================================================================
   Custom styles
   author: Rae Aquino/Maria Chin
   ========================================================================== */

div#listQuantitys, div#createQuantity, div#updateQuantity, div#deleteQuantity, div#borrowQuantity , div#returnQuantity ,#hidden{  /*mhac*/
  display: none;
}

body {
  padding: 8px;
}
table { 
  border-collapse:collapse;
  margin: 1em 0;
  background: #766C2E;
  border:0;
}  

#quantitys{
 border: 0;
}

tbody{
	
}

table, td, th { 
  border: 1px solid black;
  padding: 5px;
}  
table th {
  background: aliceblue;
  color: #222;
}

#createQuantity td, #updateQuantity td, #deleteQuantity, #borrowQuantity td, #returnQuantity td{ /*mhac*/
	border: 0;
}

menu {
  width: 13em;
  text-align: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
}
menu li {
  list-style: none;
  height: 1.5em;
  margin: 2px auto;
}
menu li button {
  width: 12.8em;
}
footer {
  margin: 2em auto;
}

#updQuaNoAdd, #updQuaNoSub{
	width:50px;
}

.label1{
	width: 50px;
}

/*!--Style--*/

.mainheader img{
	display:none;
}

menu{
	background: #766C2E;
}

#manageQuantitys{
	background: #766C2E;
	width: 30%;
	padding: 50px;

}

body{
	overflow-y: scroll;
	padding: 0;
	margin: 0;
	font-family: Arial;
	font-size: 16px;
	background-color: #222;
	height: auto;
	background: url("../img/123.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}
body input[type="button"], body input[type="submit"], #theme1, #theme2{
	position:relative;
	border-radius:7px;
	background: #e3e3e3;
	padding: 5px 15px;
	border:0;
	text-shadow: 0 1px black;
	background-image: -webkit-linear-gradient(top, #f5f5f5, #d3d3d3);
	box-shadow: 0px 5px 0px #828282, 0px 8px 5px rgba(0,0,0,0.3);
}

body input[type="button"]:hover, body input[type="submit"]:hover, #theme1:hover, #theme2:hover{
	top:3px;
	background-color: #d3d3d3;
	box-shadow:0px 2px 0px 0px#828282, 0px 5px 3px rgba(0,0,0,0.2);
}

body input:not([type='button']), body select{
	width:200px;
	height:35px;
	font-size: 13px;
	padding:2px;
	margin:0px;
	padding-left:10px;
	border-radius:7px;
	font-weight: bold;
	text-transform: capitalize;
	box-shadow: 3px 6px 15px inset;
}

body input:focus, body select:focus{
	outline:none;
	box-shadow:0 0 10px yellow;
	font-weight: bold;
}


body input[type="text"], body input[type="number"]{
	width:200px;
	height:35px;
	font-size: 13px;
	padding:2px;
	margin:0px;
	padding-left:10px;
	border-radius:7px;
	font-weight: bold;
	text-transform: capitalize;
	box-shadow: 3px 6px 15px inset;
}

body input[type="text"]:focus, body input[type="number"]:focus{
	outline:none;
	box-shadow:0 0 10px yellow;
	font-weight: bold;
}


.divbody{
	background: #766C2E;
	padding:5px;
	margin:0;
	border-radius: 5px;
	opacity: .9;
}

#title{
	float:center;
	color: #decc77;
	text-align:center;
	font-size: 20px;
	padding: 30px;

}

#results{
	background:#2f2b12;
	width: 450px;
	padding: 20px;
}

#results td{
	border: solid 1px #995522;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 3px;
	padding-left: 3px;
}


table {
display: table;
border-collapse: separate;
border-spacing: 2px;
border-color: gray;
}


#form{
	width: auto;
	/* background: #766C2E; */
}

.form{
	width: auto;
}


/*! --Navigation Menu-- */
a{
	text-decoration: none;
}

.mainheader nav{
	background-color: #222;
	height: 40px;
	width: 100%;
}

.mainheader nav ul{
	list-style-type: none;
	margin: 0 auto;
}

.mainheader nav ul li{
	float: left;
	display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited{
	color:#FFF;
	display: inline-block;
	padding:10px 25px;
	height: 20px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited{
	background-color: #766C2E;
	text-shadow: none;
}

/*! -- Header-- */
.mainheader img{
	width:100%;
	line-height: 50px;
	float: left;
}

/*! -- Content -- */
.maincontent {
	line-height: 25px;
	border-radius: 5px;
	padding:20px;
}

.content{
	width: 96%;	
	color: #FFF;
	margin-left: 2%;
	margin-right: 2%;
	padding-top: 30px;
}

.inventory{
	background-color: #766C2E; 
	border-radius: 5px;
	padding: 20px;
	margin-top:2%;
	opacity: .9;
}

.inventory img{
	width:80%;
	height: auto;
	margin: 2% 0;
}

.borrow{
	background-color:#766C2E;
	border-radius: 5px;
	padding: 20px;
	margin-top: 2%;
	opacity: .9;
}

.borrow label {
    display:block;
    margin-top:20px;
}

.borrow input, textarea {
	width:80%;
	height:auto;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#3a3a3a;
}

.borrow textarea {
	height:213px;
}

.brokenlost{
	background-color: #766C2E;
	border-radius: 5px;
	padding: 20px;
	margin-top:2%;
	opacity: .9;
}

/*! -- Footer -- */
.mainfooter{
	width:100%;
	height:40px;
	float: left;
	background-color: #222;
	margin: 2% 0;
}

.mainfooter p{
	width: 92%;
	margin: 10px auto;
	color: #decc77;
	text-align:center;
}

.mainfooter nav{
	background-color: #413600;
	height: 40px;
	width: 100%;
	text-align:center;
}

.mainfooter nav ul{
	list-style-type: none;
	margin: 0 auto;
}

.mainfooter nav ul li{
	
	display: inline;
}

.mainfooter nav a:link, .mainfooter nav a:visited{
	color:#FFF;
	display: inline-block;
	padding:10px 25px;
	height: 20px;
	text-align:center;
}

.mainfooter nav a:hover, .mainfooter nav a:active,
.mainfooter nav .active a:link, .mainfooter nav .active a:visited{
	color: #decc77;
	text-shadow: none;
}

.mainfooter form input[type="button"]{
	position:relative;
	border-radius:7px;
	background: black;
	padding: 2px 12px;
	border:0;
	color:#222;
	text-shadow: 0 1px black;
	background-image: -webkit-linear-gradient(top, white, #413600);
	box-shadow: 0px 5px 0px #828282, 0px 5px 5px rgba(0,0,0,0.3);
	outline:none;
	
}
.mainfooter form input[type="button"]:hover{
	top:3px;
	background-color: #413600;
	box-shadow:0px 2px 0px 0px #828282, 0px 5px 3px rgba(0,0,0,0.2);
}


#img1, #img2, #img3, #img4, #img5{
	display:none;
}

#art1, #art2, #art3{

	color:white;
	background-repeat:no-repeat;
	background-size: 100%;
	border-radius: 5px;
	padding:20px;
	opacity: .9;
}




/*! --MediaQueries-- */
@media only screen and (min-width: 150px) and (max-width: 600px){

body{
	width: 100%;
	font-size: 95%;
}

#results{
	width: auto;
	padding: 10px;
}


/*! --Navigation Menu-- */

.mainheader img{
	width:100%;
}
	
.mainheader nav{
	height: 205px;
}

.mainheader nav ul{
	padding-left: 0;
}

.mainheader nav ul li{
	width: 100%;
	text-align:center;
}

.mainheader nav a:link, .mainheader nav a:visited{
	padding: 10px 25px;
	height: 20px;
	display: block;
}

.mainfooter img{
	width:100%;
}
	
.mainfooter nav{
	background-color: #242115;
	height: 100px;
	
}


.mainfooter nav ul{
	padding-left: 0;
}

.mainfooter nav ul li{
	width: 100%;
	text-align:center;
	float:left;
	display: inline;
}

.mainfooter nav a:link, .mainfooter nav a:visited{
	padding: 0px;
	height: 20px;
	display: block;
	color: #474127;
	font-weight: bold;
}

.mainfooter nav a:hover, .mainfooter nav a:active,
.mainfooter nav .active a:link, .mainfooter nav .active a:visited{
	color: #635b36;
	text-shadow: none;
	font-weight:bold;
}

.mainfooter p{
	text-align:center;
	color:#decc77;
	font-weight:bold;
}

/*! -- Header-- */
.mainheader img{
	margin-top: 0px;
}




/*! --MediaQueries-- */
@media only screen and (min-width: 150px) and (max-device-width: 480px){

body{
	width: 100%;
	font-size: 95%;
}

#results{
	width: auto;
	padding: 10px;
}

/*! --Navigation Menu-- */

.mainheader img{
	width:100%;
}
	
.mainheader nav{
	height: 205px;
}

.mainheader nav ul{
	padding-left: 0;
}

.mainheader nav ul li{
	width: 100%;
	text-align:center;
}

.mainheader nav a:link, .mainheader nav a:visited{
	padding: 10px 25px;
	height: 20px;
	display: block;
}

/*! -- Header-- */
.mainheader img{
	margin-top: 0px;
}
}
